# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

GoMicro_project/db-data/*
broker-service/brokerApp
auth-service/authApp
front-end/frontApp
front-end/frontEndLinux
listener-service/listenerApp
logger-service/loggerApp
mail-service/mailApp
.vscode/